* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #e6e6e6;
}

.contenedor {
	background: #ccc;
	width: 90%;
	max-width: 1000px;
	margin: auto;

	/*flex*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.contenedor header {
	background: #2c3e50;
	width: 100%;
	padding: 20px;


	/*flex*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.contenedor header .logo img {
		width: 50px;
		vertical-align: top;
}

.contenedor header .logo a {
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	line-height: 50px;
}

.contenedor header nav {
	width: 50%;

	/*flex*/
	display: flex;
}

.contenedor header nav a {
	color: #fff;
	text-decoration: none;
	background: #c0392b;
	padding: 10px;
	text-align: center;

	/*flex*/
	flex-grow: 1;
}

.contenedor header nav a:hover {
	background:#e74c3c;
}

.contenedor .main {
	background: #fff;
	padding: 20px;

	/*flex*/
	flex: 1 1 70%;
}

.contenedor .main article {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
}

.contenedor .main article:nth-last-child(1) {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}

.contenedor aside {
	background: #e67e22;
	padding: 20px;


	/*flex*/
	display: flex;
	flex: 1 1 30%;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;

}

.contenedor aside .widget {
	background: #d35400;
	height: 150px;
	margin: 10px;
}

.contenedor footer {
	background: #2c3e50;
	width: 100%;
	padding: 20px;

	/*flex*/
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
	flex-wrap: wrap;
}

.contenedor footer .links {
	/*width: 50%;*/


	/*flex*/
	display: flex;
}

.contenedor footer .links a  {
		color: #fff;
		text-decoration: none;
		padding: 10px;
		background: #c0392b;
}

.contenedor footer .links a:hover {
	background: #e74c3c;
}

.contenedor footer .social {
	background: #e67e22;
}

.contenedor footer .social a {
	color: #fff;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
}

@media screen and (max-width: 800px) {
	.contenedor {
		flex-direction: column;
	}

	.contenedor header {
		flex-direction: column;
		padding: 0;
	}

	.contenedor header nav {
		width: 100%;
	}

	.contenedor header .logo {
		margin: 20px 0px;
	}

	.contenedor aside {
		flex-direction: row;
	}

	.contenedor aside .widget {
		flex-grow: 1;
	}
}

@media screen and (max-width: 600px) {
	.contenedor aside {
		flex-direction: column;
	}
	.contenedor footer {
		justify-content: space-around;
	}
}

@media screen and (max-width: 400px) {
	.contenedor {
		width: 100%;
	}
}