*{
	margin: 0px;
	padding: 0px;
}
 body {
 	width: 90%;
 	margin: auto;
 	max-width: 1000px;
 	background: #e6e6e6;
 }
 header img {
 	width: 20%;
 }
 header nav {
 	background: #BD4BCE;
 	margin-bottom: 10px;
 	border-radius: 5px;

 } header nav a {
 	color: #fff;
 	text-decoration: none;
 	padding: 10px 20px;
 	display: inline-block;
 	font-family: roboto;
 }
 header nav a:hover {
 	background: #8E4E98;
 	border-radius: 5px;
 }
 footer {
	background: #000;
	color: #fff;
	font-family: roboto;
	text-align: center;
	padding: 20px 0px;
}
footer a {
	color: #fff;
	display: inline-block;
	padding: 0px 10px;
	padding-top: 10px;
}
.main form {
	background:#BD4BCE;
	padding: 10px 20px;
	width: 35%;
	border-radius: 5px;
	position: relative;
	left: 270px;
	margin-bottom: 20px;
}
.main form input[type="text"],
.main form input[type="password"],
.main form input[type="submit"] {
	width: 100%;
	margin-bottom: 10px;
	box-sizing: border-box;
	/*border: 1px solid #ccc;*/
	padding: 10px;
}
label {
	font-family: roboto;
	margin-bottom: 10px;
}