<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nojoda</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
	<section class="wrap">
		<header>
			<h1>Gamertod</h1>
			<nav>
				<a href="">Inicio</a>
				<a href="">Servicios</a>
				<a href="">Acerca de</a>
				<a href="">Contactos</a>
				<a href="">FAQ</a>
			</nav>
		</header>
		<section class="main">
			<section class="articles">
				<article>
					<h2>Lorem ipsum dolor sit amet.</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corrupti tempore totam culpa accusamus reiciendis in modi ipsa doloribus corporis sequi dolor quas qui esse animi, illum? Corrupti voluptate, qui.</p>
				</article>

				<article>
					<h2>Lorem ipsum dolor sit amet.</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corrupti tempore totam culpa accusamus reiciendis in modi ipsa doloribus corporis sequi dolor quas qui esse animi, illum? Corrupti voluptate, qui.</p>
				</article>
			</section>
			<aside>
				<h3>Lorem ipsum dolor sit amet.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolore voluptate, dolorem deleniti ea recusandae perferendis voluptates atque officia. Quasi, iure ratione earum sed sequi sint sapiente, quo architecto esse!</p>
			</aside>
		</section>
		<footer>
			<p>Lorem ipsum dolor sit amet.</p>
		</footer>
	</section>
</body>
</html>