* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #ccc;
}

.wrapper {
	width: 90%;
	max-width: 1000px;
	margin: auto;

	/*flex*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.wrapper header {
	width: 100%;
	background: #2c3e50;
	padding: 20px;



	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

header nav {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

header nav a{
	background:#ff8000;
	padding:10px 20px;
	color: #fff;
	flex-grow: 1;
	text-decoration: none;
	text-align: center;
}

header nav a:hover {
	background: #ff9000;
}

header .logo h1 {
	color: #fff;
}

.wrapper .main {
	background: #fff;
	padding: 20px;

	flex: 1 1 70%;
}

.wrapper .main article {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
}

.wrapper .main article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

aside {
	background: #ff8000;
	padding: 20px;

	flex: 1 1 30%;
}

footer {
	background:#2c3e50;
	width: 100%;
	padding: 20px;

	display: flex;
	justify-content: space-between;
}

footer .links {
	display: flex;
}

footer .links a{
	padding:10px 20px;
	color: #fff;
	text-decoration: none;
	flex-grow: 1;
	text-align: center;
	background: #ff8000;
}


footer .links a:hover {
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;

	background: #ff9000;
	border-radius: 10px;
}

footer .social {
	background: #ff8000;
}

footer .social a{
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	display: inline-block;
}